.account__profession {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: span 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 560px) {
  .account__profession {
    justify-self: center;
    font-size: 14px;
    line-height: 17px;
    margin: 7px 0 32px;
  }
}
