.account__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../../images/pencil.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  padding: 0;
}

.account__edit:hover {
  opacity: .6;
  transition: opacity .08s ease-out;
}

@media screen and (max-width: 560px) {
  .account__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin-left: 0;
    display: block;
    text-align: center;
    position: absolute;
    right: -28px;
    top: 8px;
  }
}
