.popup__save {
  padding: 0;
  border: 0;
  background-color: #000000;
  max-width: 358px;
  min-height: 50px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.popup__save:hover {
  opacity: .8;
  transition: opacity .08s ease-out;
}

@media screen and (max-width: 720px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
  }
}

