.header {
  max-width: 880px;
  height: 74px;
  margin: auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 935px) {
  .header {
    padding-top: 28px;
    height: 56px;
  }
}
