.popup__profession {
  border: none;
  border-bottom: 1px solid #CCCCCC;
  margin: 21px 0 48px;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 9px;
  padding-top: 9px;
}

@media screen and (max-width: 720px) {
  .popup__profession {
    margin-bottom: 45px;
  }
}
